In [ ]:
#All question are Solved but not arranged number

In [10]:
#Q1. Create one variable containing following type of data:

#(i)	string

#(ii)	list

#(iii)	float

#(iv)	tuple




a="Hassan Arzoo"

In [11]:
a

'Hassan Arzoo'

In [12]:
b=[1,2,3,4,5]

In [13]:
b

[1, 2, 3, 4, 5]

In [14]:
c=3.67

In [15]:
c

3.67

In [16]:
tuple=(1,2,3,4,5)

In [17]:
tuple

(1, 2, 3, 4, 5)

In [ ]:
#Q2. Given are some following variables containing data:
#(i)  var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.
#What will be the data type of the above given variable.

In [18]:
var1=' '

In [20]:
type(var1)

str

In [21]:
var2='[DS,ML,Python]'

In [22]:
var2

'[DS,ML,Python]'

In [23]:
type(var2)

str

In [2]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [3]:
type(var3)

list

In [4]:
var4=1

In [5]:
type(var4)

int

In [ ]:
#Q3. Explain the use of the following operators using an example:

#(i)	/

#(ii)	% 

#(iii)	//

#(iv)	**

In [ ]:
#/- It is divisiblity Operator
#%- It is Modulus Operator
#//-It is Floor division
#**-It is Exponentiation

In [6]:
3/4

0.75

In [7]:
3%4

3

In [8]:
3//4

0

In [9]:
3**2
#3*3=9

9

In [ ]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
#divisible by 3 or not.

In [6]:
z=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [7]:
z

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [10]:
for e in l:
    if e%3==0:
        print(e,"divisible by 3")
        
    else: 
        print(e,"not divisible by 3")

1 not divisible by 3
2 not divisible by 3
3 divisible by 3
4 not divisible by 3
5 not divisible by 3
6 divisible by 3
7 not divisible by 3
8 not divisible by 3
9 divisible by 3
0 divisible by 3

In [11]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
#times it can be divisible

In [16]:
A=D=int(input())
B=int(input())

count = 0;
while(A%B==0):
    count += 1
    A = A/B
    
print(D ,'is divisbile by ',B," and number of times it is divisble is " ,count)

 9
 3

9 is divisbile by  3  and number of times it is divisble is  2

In [1]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
#this property.

In [ ]:
Mutable                                                                              	Immutable
The objects can be modified after the creation as well.	                Objects can not be modified after the creation of the objects.
Classes that are mutable are not considered final.	                    Classes that are immutable are considered final.
Thread unsafe.	Thread-safe.                                       
Classes are not made final for the mutable objects.	                    Classes are made final for the immutable objects.
Example: Lists, Dicts, Sets, User-Defined Classes, Dictionaries, etc.	Example: int, float, bool, string, Unicode, tuple, Numbers, etc.

In [13]:
##Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
#element and its data type

In [17]:
l=[1,"a",3+4j,2,True,False,6,7,8.63,85]

In [19]:
for e in l :
    print(e,type(e))

1 <class 'int'>
a <class 'str'>
(3+4j) <class 'complex'>
2 <class 'int'>
True <class 'bool'>
False <class 'bool'>
6 <class 'int'>
7 <class 'int'>
8.63 <class 'float'>
85 <class 'int'>